.classpath
.project
.settings
.DS_Store
dependency-reduced-pom.xml
target/
*.iml
*.ipr
*.iws
*.swp
.gitignore.swp
.idea
.forge_settings
.factorypath
.externalToolBuilders
.distribution
audit.log
velocity.log

.sass-cache/
